@import '../variables';
@import '../Calendar/Range/Range';

$cellSize: 40px;

.root {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgba(15, 30, 70, 0.12) 0, #fff 3px);
  background-color: #fff;

  > * {
    box-sizing: border-box;
  }
}

.list {
  box-sizing: border-box;

  &.center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.year {
  display: flex;
  padding: 0 20px;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  box-sizing: border-box;

  &.withQuarters {
    border-bottom: 1px solid $blue_15;

    & > label {
      box-sizing: border-box;
      height: 100%;
      line-height: $cellSize;
    }
  }

  label:not(.label) {
    flex-basis: 42%;

    :hover > span {
      color: $pink;
    }

    span {
      flex-shrink: 0;
      color: $blue;
    }
  }

  article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
    width: 200px;
    height: 100%;

    > label {
      padding: 12px;
      &.selected {
        & > span {
          color: $pink;
        }
      }
    }

    div {
      &:not(:last-child) {
        border-bottom: 1px solid $blue_15;
      }

      ol {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0px;
        padding: 0;
        min-width: 5 * $cellSize;
        font-size: 12px;

        & > label {
          width: 10px;
        }

        &.disabled {
          cursor: not-allowed;

          & > li {
            color: $blue_25;
          }
        }

        li.selected {
          background: $blue;
          border-radius: 100%;
          color: #fff;
        }

        &:hover:not(.disabled):not(.selected) {
          background-color: $blue_10;
          border-radius: 20px;
        }

        &.selected {
          background-color: $blue_25;
          border-radius: 20px;
        }

        li {
          display: flex;
          width: $cellSize;
          height: $cellSize;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          list-style: none;
          border-radius: 50%;
          box-sizing: border-box;

          color: $blue;
          font-weight: normal;
          text-transform: capitalize;
        }

        // expand the hovering area
        li:nth-child(2) {
          flex: 1;
        }
      }

      &:hover,
      &.active {
        position: relative;
      }

      &.active {
        font-size: 32px;
      }

      // Spacing
      $spacing: 0;
      &.first {
        padding-top: $spacing;
      }
      &.last {
        padding-bottom: $spacing;
        border-bottom: none;
      }
    }
  }
}